html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #bfbfbf;
}

.container {
    margin: 10%;
}

nav {
    background: #bfbfbf;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #646464;
}

nav ul, footer ul {
    font-family: 'Arial', 'Sans-Serif';
    font-weight: bold;
    font-size: 1.5em;
}

ul li {
    display: inline;
    padding-right: 40px;
}

nav ul a {
    text-decoration: none;
    color: #37344c;
}

footer ul a {
    color: #ffffff;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #37344c;
}

a {
    color: #111765;
}

a:hover {
    text-decoration: underline;
    color: #22577f;
}

footer a:hover {
    color: #c3cbf7;
}

h1 {
    font-family: 'Arial', 'Sans-Serif';
    font-size: 3em;
}

h2 {
    font-family: 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    font-family: 'Serif';
    color: #000000;
}
