body {
    background: #bfbfbf;
}

.container {
    margin: 0 10% 10% 10%;
    width: 80%;
}

nav {
    height: 50px;
    border-bottom: 2px solid #646464;
}

nav ul, footer ul {
    font-family: 'Arial', 'Sans-Serif';
    font-weight: bold;
}

nav ul {
    font-size: 1.5em;
}

nav ul li {
    display: inline;
    padding-right: 40px;
}

nav ul a {
    text-decoration: none;
    color: #37344c;
}

footer ul a {
    color: #ffffff;
}

footer {
    height: 10%;
    width: 100%;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    background: #37344c;
}

footer ul li {
    display: inline;
    padding-right: 20px;
}

a {
    color: #111765;
}

a:hover {
    text-decoration: underline;
    color: #22577f;
}

footer a:hover {
    color: #c3cbf7;
}

h1 {
    font-family: 'Arial', 'Sans-Serif';
    font-size: 3em;
}

p {
    font-size: 1.5em;
    font-family: 'Serif';
    color: #000000;
}


